<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자등록</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div class="image-section">

    </div>
    <div class="register">
        <h1 class="title">사용자등록</h1>
        <form class="register-section" action="/register" method="POST" enctype="multipart/form-data">
            <div class="name-input">
                <label class="title-name-input">이름을 입력하십시오</label>
                <input type="text" name="name" required>
            </div>
            <div class="email-input">
                <label class="title-email-input">이메일을 입력하십시오</label>
                <input type="email" name="email" required>
            </div>
            <div class="image-upload">
                <label class="title-image-upload">사진을 올리적재하십시오</label>
                <input type="file" name="profileImage" required>
            </div>
            <div class="password-input">
                <label class="title-password-input">비밀번호를 입력하십시오</label>
                <input type="password" name="password" required>
            </div>
            <div class="button-section">
                <button type="submit" class="submit-btn">가입하기</button>
            </div>
            
        </form>
    </div>
</body>
</html>