* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loger-body {
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

.loger-nav {
    width: 100%;
    height: 10%;
    border-bottom: 6px solid rgb(181, 212, 255);
    background-color: #52b8e0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

.loger-nav a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(15, 91, 110);
    padding: 18px 30px;
}

.loger-nav a:hover {
    background-color: #9bdffa;
}

.loger-main {
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.img-main {
    background-image: url('logerbackground.jpg');
    width: 100%;
    height: 78%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(10px);
    position: fixed;
}

.loger-text {
    position: relative;
    /* border: 1px solid red; */
    width: 40%;
    height: 30%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.loger-text h1 {
    /* color: #73b139; */
    color: rgb(65, 146, 143);
    font-weight: bold;
    font-size: 70px;
    font-family: '천리마';
    font-weight: bold;
}

.loger-text p {
    color: rgb(255, 251, 255);
    font-size: 20px;
    font-family: '천리마';
}

.move-btn {
    background-color: #ff7dba;
    width: 350px;
    height: 80px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    opacity: 0.5;
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-family: '천리마';
}

.move-btn:hover {
    opacity: 0.8;
    font-weight: bold;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.6);
}

.move-btn:active {
    transform: translateY(-5px);
}

.loger-footer {
    background-color: #7465a7;
    height: 12%;
    border-top: 7px solid #e9aef5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: '청봉';
    color: rgb(230, 202, 245);
    gap: 5px;
}

.info-product {
    font-size: 19px;
}